{% block content %} 


	<header>

    <h1>Sjoerd Perfors</h1>
    <h2>Developer & Entrepreneur</h2>

  </header>

  <footer>

    <ul class="social">
      <li><a href="http://nl.linkedin.com/in/sjoerdperfors">LinkedIn</a></li>
      <li><a href="http://www.flitsmeister.nl">Flitsmeister</a></li>
      <li><a href="http://www.govisual.nl">GoVisual</a></li>
    </ul>

  </footer>



{% endblock %}